
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" class="nav-link active" aria-current="page">Home</a></li>
      <!-- <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li> -->
      <li class="nav-item"><a routerLink="/usuario" class="nav-link">Usuários</a></li>
      <li *ngIf="logado" role="button" class="nav-item"><a class="nav-link" (click)="logOut()">Logout</a></li>
    </ul>
  </header>
